@page
@using Q2.Models
@model Q2.Pages.Home.EmployeeWithSkillModel
@{
    var rs = ViewData["API"] as List<Employee>;
    var listSkill = ViewData["skills"] as List<Skill>;
    var EmployeSkills = ViewData["EmployeSkill"] as List<EmployeeWithSkills>;
}

<h1>Hello</h1>
<table border="1">
    <thead>
    <th></th>
        @foreach (var s in listSkill)
        {
        <th>@s.SkillName</th>
        }
    </thead>
    <tbody>

        @foreach (var emp in rs)
        {

            <tr>
                <td>@emp.Name</td>
                @foreach (var sk in listSkill)
                {
                    var check = EmployeSkills.FirstOrDefault(r => r.EmployeeId == emp.EmployeeId && r.SkillId == sk.SkillId);
                    if (check != null)
                    {
                        if (check.AcquiredDate == null || check.ProficiencyLevel == null)
                        {
                            <td>No info</td>
                        }
                        else
                        {
                            <td>
                                <div>ProficiencyLevel: @check.ProficiencyLevel</div>
                                <div>AcquireDate: @check.AcquiredDate</div>
                            </td>
                        }
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }


    </tbody>
</table>
